<div mat-dialog-title class="title">
    <h1>Add url</h1>
</div>

<div mat-dialog-content class="content">
    <form [formGroup]="linkForm" (ngSubmit)="onSubmit()">
        <div class="input-field">
            <mat-form-field appearance="outline">
                <mat-label>Url</mat-label>
                <input matInput placeholder="https://example.com" [(ngModel)]='inputField' formControlName="url" />
            </mat-form-field>
            <button mat-raised-button class="button-color" class="add-button" type="submit">Add</button>
        </div>
        <span class = "output">{{shortUrl}}</span>
    </form>
</div>

<div mat-dialog-actions class=" actions">
    <button class="white-button" (click)="onClose()">
        Close
    </button>
    <button class="button-color" (click)="onClear()">
        Clear
    </button>
</div>
